@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: green;
}